.logo {
    padding: 25px 0;
    margin-right: 0;
  
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    color: var(--logo-color);

    
  @include mq(desk) {
    font-size: 26px;
  }
  }
  
.logo--accent {
    color: var(--accent-color);
  }